.works_title{
    margin: 50px;
    line-height: 1.7;
    text-align: center;
    background-color: #eeeeee;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.works_about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.works_a{
    padding: 0;
}
.works_img{
    width: 300px;
    height: 300px;
    margin: 20px;
    /**/
    animation-name:zoomOutAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}
.works_img:hover{
    animation-name:zoomInAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}